.colors {
    --bright-blue: oklch(51.01% .274 263.83);
    --indigo-blue: oklch(51.64% .229 281.65);
    --electric-violet: oklch(53.18% .28 296.97);
    --french-violet: oklch(47.66% .246 305.88);
    --vivid-pink: oklch(69.02% .277 332.77);
    --hot-pink: oklch(59.91% .239 8.14);
    --hot-red: oklch(61.42% .238 15.34);
    --orange-red: oklch(63.32% .24 31.68);
    --super-green: oklch(79.12% .257 155.13);
    --deprecated-light: oklch(95% .02 304.04);
    --deprecated-docs-bg: var(--deprecated-light);
    --subtle-purple: color-mix(in srgb, var(--bright-blue) 5%, white 10%);
    --light-blue: color-mix(in srgb, var(--bright-blue), white 50%);
    --light-violet: color-mix(in srgb, var(--electric-violet), white 65%);
    --light-orange: color-mix(in srgb, var(--orange-red), white 50%);
    --light-pink: color-mix(in srgb, var(--vivid-pink) 10%, white 80%);
    --symbolic-purple: oklch(42.86% .29 266.4);
    --symbolic-gray: oklch(66.98% 0 0);
    --symbolic-blue: oklch(42.45% .223 263.38);
    --symbolic-pink: oklch(63.67% .254 13.47);
    --symbolic-orange: oklch(64.73% .23769984683784018 33.18328352127882);
    --symbolic-yellow: oklch(78.09% .163 65.69);
    --symbolic-green: oklch(67.83% .229 142.73);
    --symbolic-cyan: oklch(67.05% .1205924489987394 181.34025902203868);
    --symbolic-magenta: oklch(51.74% .25453048882711515 315.26261625862725);
    --symbolic-teal: oklch(57.59% .083 230.58);
    --symbolic-brown: oklch(49.06% .128 46.41);
    --symbolic-lime: oklch(70.33% .2078857836035299 135.66843631046476);
    --gray-1000: oklch(16.93% .004 285.95);
    --gray-900: oklch(19.37% .006 300.98);
    --gray-800: oklch(25.16% .008 308.11);
    --gray-700: oklch(36.98% .014 302.71);
    --gray-600: oklch(44% .019 306.08);
    --gray-500: oklch(54.84% .023 304.99);
    --gray-400: oklch(70.9% .015 304.04);
    --gray-300: oklch(84.01% .009 308.34);
    --gray-200: oklch(91.75% .004 301.42);
    --gray-100: oklch(97.12% .002 325.59);
    --gray-50: oklch(98.81% 0 0);
    --red-to-pink-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 11.42%, var(--hot-red) 34.83%, var(--vivid-pink) 60.69%);
    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg, var(--orange-red) 0%, var(--vivid-pink) 50%, var(--electric-violet) 100%);
    --pink-to-highlight-to-purple-to-blue-horizontal-gradient: linear-gradient(140deg, var(--vivid-pink) 0%, var(--vivid-pink) 15%, color-mix(in srgb, var(--vivid-pink), var(--electric-violet) 50%) 25%, color-mix(in srgb, var(--vivid-pink), var(--electric-violet) 10%) 35%, color-mix(in srgb, var(--vivid-pink), var(--orange-red) 50%) 42%, color-mix(in srgb, var(--vivid-pink), var(--orange-red) 50%) 44%, color-mix(in srgb, var(--vivid-pink), var(--page-background) 70%) 47%, var(--electric-violet) 48%, var(--bright-blue) 60%);
    --purple-to-blue-horizontal-gradient: linear-gradient(90deg, var(--electric-violet) 0%, var(--bright-blue) 100%);
    --purple-to-blue-vertical-gradient: linear-gradient(0deg, var(--electric-violet) 0%, var(--bright-blue) 100%);
    --red-to-orange-horizontal-gradient: linear-gradient(90deg, var(--hot-pink) 0%, var(--orange-red) 100%);
    --red-to-orange-vertical-gradient: linear-gradient(0deg, var(--hot-pink) 0%, var(--orange-red) 100%);
    --pink-to-purple-horizontal-gradient: linear-gradient(90deg, var(--vivid-pink) 0%, var(--electric-violet) 100%);
    --pink-to-purple-vertical-gradient: linear-gradient(0deg, var(--electric-violet) 0%, var(--vivid-pink) 100%);
    --purple-to-light-purple-vertical-gradient: linear-gradient(0deg, var(--french-violet) 0%, var(--light-violet) 100%);
    --green-to-cyan-vertical-gradient: linear-gradient(0deg, var(--symbolic-cyan) 0%, var(--super-green) 100%);
    --blue-to-teal-vertical-gradient: linear-gradient(0deg, var(--bright-blue) 0%, var(--light-blue) 100%);
    --blue-to-cyan-vertical-gradient: linear-gradient(0deg, var(--bright-blue) 0%, var(--symbolic-cyan) 100%);
    --black-to-gray-vertical-gradient: linear-gradient(0deg, var(--primary-contrast) 0%, var(--gray-400) 100%);
    --red-to-pink-vertical-gradient: linear-gradient(0deg, var(--hot-red) 0%, var(--vivid-pink) 100%);
    --orange-to-pink-vertical-gradient: linear-gradient(0deg, var(--vivid-pink) 0%, var(--light-orange) 100%);
    --page-bg-radial-gradient: radial-gradient(circle, white 0%, white 100%);
    --soft-pink-radial-gradient: radial-gradient(circle at center bottom, var(--light-pink) 0%, white 80%);
    --full-contrast: black;
    --primary-contrast: var(--gray-900);
    --secondary-contrast: var(--gray-800);
    --tertiary-contrast: var(--gray-700);
    --quaternary-contrast: var(--gray-500);
    --quinary-contrast: var(--gray-300);
    --senary-contrast: var(--gray-200);
    --septenary-contrast: var(--gray-100);
    --octonary-contrast: var(--gray-50);
    --page-background: white;
    --gray-unfilled: var(--gray-400); /* You can add global styles to this file, and also import other style files */


    --color-white: #fff;
    --color-white-alpha-25: #ffffff40;
    --color-white-alpha-75: #ffffffbf;
    --color-black: #000;
    --color-black-alpha-25: #00000040;
    --color-black-alpha-75: #000000bf;
    --color-gray-90: #f7f7f8;
    --color-gray-80: #edeef0;
    --color-gray-60: #c3c7cb;
    --color-gray-40: #51565d;
    --color-gray-20: #2d3034;
    --color-gray-10: #212426;
    --color-gray-05: #18191b;
    --color-red-90: #ffe6ea;
    --color-red-80: #fc7d92;
    --color-red-50: #d31232;
    --color-red-20: #b7102c;
    --color-red-10: #4b0b16;
    --color-orange-90: #fef3eb;
    --color-orange-80: #febe8f;
    --color-orange-50: #e2782c;
    --color-orange-20: #c2570a;
    --color-orange-10: #3f220d;
    --color-yellow-90: #fef0c3;
    --color-yellow-80: #fae49e;
    --color-yellow-50: #e6b30a;
    --color-yellow-20: #97770c;
    --color-yellow-10: #574405;
    --color-green-90: #eaf6ef;
    --color-green-80: #70eba3;
    --color-green-50: #089141;
    --color-green-20: #065b29;
    --color-green-10: #0c311c;
    --color-blue-90: #ecf4fe;
    --color-blue-80: #a4cefe;
    --color-blue-50: #0a5dbd;
    --color-blue-20: #044c9f;
    --color-blue-10: #072446;
    --color-purple-90: #f7f0ff;
    --color-purple-80: #d8b8ff;
    --color-purple-50: #863ae4;
    --color-purple-20: #5f1fad;
    --color-purple-10: #260e43;

    --color-background-red: light-dark(var(--color-red-90), var(--color-red-10));
    --color-background-orange: light-dark(var(--color-orange-90), var(--color-orange-10));
    --color-background-yellow: light-dark(var(--color-yellow-90), var(--color-yellow-10));
    --color-background-green: light-dark(var(--color-green-90), var(--color-green-10));
    --color-background-blue: light-dark(var(--color-blue-90), var(--color-blue-10));
    --color-background-purple: light-dark(var(--color-purple-90), var(--color-purple-10));
    --color-area-background: var(--color-background-blue);
    --color-area-highlight-border: var(--color-blue-50);
    --color-area-link: var(--color-link-normal);

    --font-family-text: "Inter", sans-serif;
    --font-family-code: "JetBrains Mono", monospace;
    --font-line-content: 1.75;
    --font-line-normal: 1.5;
    --font-line-ui: 1;
    --font-size-largest: 2.5rem;
    --font-size-larger: 2rem;
    --font-size-large: 1.5rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.8rem;
    --font-weight-normal: 400;
    --font-weight-bold: 600;
}
